<%- include('partials/header') %>

<div class="background centered">
  <div class="transbox">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Tell me a secret</h1>
    <p>Address to the fire...</p>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
  </div>
</div>

<%- include('partials/footer') %>
